<div class="col-md-6 mx-auto">
    <div class="card text-center ">
      <div class="card-header">
            Login To Play Card Game
      </div>
      <div class="card-body">
        <div *ngIf="registerSuccessMessage" class="alert alert-success" role="alert">
            <strong>Yay!</strong> {{registerSuccessMessage}}
        </div>
        <div *ngIf="loginErrorMessage" class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> {{loginErrorMessage}}
        </div>
        <form [formGroup]="loginForm">
          <div class="form-group row" >
            <label for="username" class="col-sm-4 col-form-label">Username</label>
            <div class="col-sm-8">
            <input [ngClass]="{'is-invalid':username.touched && username.invalid}" type="text" class="form-control" formControlName="username" id="username"  placeholder="Username">
                <div *ngIf="username.invalid && username.touched" class="text-danger">
                    <div *ngIf = "username.errors?.required">
                        Username can't be blank.
                    </div>
                </div>
            </div>
          </div>
          <div class="form-group row" >
            <label for="password" class="col-sm-4 col-form-label">Password </label>
            <div class="col-sm-8">
            <input type="password" [ngClass]="{'is-invalid':password.touched && password.invalid}" class="form-control" formControlName="password" id="password"  placeholder="Password">
                <div *ngIf="password.invalid && password.touched" class="text-danger">
                    <div *ngIf = "password.errors?.required">
                        Password can't be blank
                    </div>
                </div>
            </div>
        </div>
          <div class="form-group row">
              <div class="col-sm-4 float-right">
                  <a routerLink="/register" >Register</a>
              </div>
              <div class="col-sm-4 float-right">
                <button type="submit" (click)="onSubmit()" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
              </div>
          </div>
        </form>
      </div>
    </div>
</div>