<div class="col-md-6 mx-auto">
<div class="card text-center ">
  <div class="card-header">
        Register To Play Card Game
  </div>
  <div class="card-body">
        <div *ngIf="registerErorMessage" class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> {{registerErorMessage}}
        </div>
    <form [formGroup]="registerForm">
      <div class="form-group row" >
        <label for="firstName" class="col-sm-4 col-form-label">First Name </label>
        <div class="col-sm-8">
        <input [ngClass]="{'is-invalid':firstName.touched && firstName.invalid}" type="text" class="form-control" formControlName="firstName" id="firstName"  placeholder="First Name">
            <div *ngIf="firstName.invalid && firstName.touched" class="text-danger">
                <div *ngIf = "firstName.errors?.required">
                    First Name field can't be blank
                </div>
            </div>
        </div>
      </div>
      <div class="form-group row" >
        <label for="lastName" class="col-sm-4 col-form-label">Last Name </label>
        <div class="col-sm-8">
        <input [ngClass]="{'is-invalid':lastName.touched && lastName.invalid}" type="text" class="form-control" formControlName="lastName" id="lastName"  placeholder="Last Name">
            <div *ngIf="lastName.invalid && lastName.touched" class="text-danger">
                <div *ngIf = "lastName.errors?.required">
                    Last Name field can't be blank
                </div>
            </div>
        </div>
      </div>
      <div class="form-group row" >
        <label for="email" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
        <input [ngClass]="{'is-invalid':email.touched && email.invalid}" type="text" class="form-control" formControlName="email" id="email"  placeholder="Email">
            <div *ngIf="email.invalid && email.touched" class="text-danger">
                <div *ngIf = "email.errors?.email">
                    Enter a valid Email
                </div>
            </div>
        </div>
      </div>
      <div class="form-group row" >
        <label for="username" class="col-sm-4 col-form-label">Username</label>
        <div class="col-sm-8">
        <input [ngClass]="{'is-invalid':username.touched && username.invalid}" type="text" class="form-control" formControlName="username" id="username"  placeholder="Username">
            <div *ngIf="username.invalid && username.touched" class="text-danger">
                <div *ngIf = "username.errors?.required">
                    Username can't be blank.
                </div>
            </div>
        </div>
      </div>
      <div class="form-group row" >
        <label for="password" class="col-sm-4 col-form-label">Password </label>
        <div class="col-sm-8">
        <input type="password" [ngClass]="{'is-invalid':password.touched && password.invalid}" class="form-control" formControlName="password" id="password"  placeholder="Password">
            <div *ngIf="password.invalid && password.touched" class="text-danger">
                <div *ngIf = "password.errors?.required">
                    Password can't be blank
                </div>
            </div>
        </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-4 float-right">
              <a routerLink="/login" >Login</a>
          </div>
          <div class="col-sm-4 float-right">
            <button (click)="onSubmit()" type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Register</button>
          </div>
      </div>
    </form>
  </div>
</div>
</div>